
body{background:#fafa9e;margin:0}
/*#59ABE3 blue   #ffcc99; salmon*/


form{

    width:600px;
    background:#fafa9e;
    /*border-radius:4px;*/
    /*box-shadow:0 0 40px -10px #000;*/
    margin: auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
}


label { 
  width: 7em;
  
}
/*.vis{
    display: inline-block;
}*/


input {
    width: 29em;
    padding-left: 5px;
}

select {
    
    width: 29em;
    padding: 5px;
}

tr{
    margin-top: 3px;
}
td{
    padding: 5px;
    align: left;
}

button {

    padding-right: 20px;
    padding-left: 25px;
    font-size: 130%;
    float: right;
    -webkit-box-shadow: rgb(80,80,80) 1px 1px 1px;
    -webkit-border-radius: 7px;
}

input:checked {
    height: 50px;
    width: 50px;
}
input[type='checkbox'] {
    height: 20px;
    width: 20px;
}