.title{
    margin: auto;
    text-align: center;
    color: blue;
    /*border: 1px solid yellow;*/
    /*background: rgb(150,150,150);*/
    background: rgba(150, 150, 150, 0.2);

    width: 480px;
    padding: 30px;
    font-size: 200%;

}
body {
    background: rgba(0,100,150,0.5);
    background: url("/Jee-Shop/IMG/background-cheese.jpg");    
    font: 14px Tahoma;

}

#bodyRestLinks{
    margin: auto;
    text-align: center;
    color: black;
}
.restLinks{
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 40%;
    color: rgb(255,255,255);
    background-color: #1f3d7a;
    -webkit-box-shadow: rgb(30,30,30) 5px 5px 5px;
    -webkit-border-radius: 10px;
    color: whitesmoke;
    text-align: center;
    -webkit-transition: -webkit-box-shadow 0.3s;

}
.restLinks:hover{
    -webkit-box-shadow: rgb(30,30,30) 10px 10px 10px;

}


table {

    margin: auto;
    font: 14px Tahoma;
    border-collapse: collapse;
    /*    width: 80%;*/
    background: rgb(190,190,190);
    -webkit-box-shadow: rgb(30,30,30) 5px 5px 5px;
    -webkit-border-radius: 10px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.highlight { background-color: lightblue!important;
}


th {
    /*background-color: #1f3d7a;*/
    background-color: #333;
    color: white;
}

.editKnop{

    text-align: center;

    color: rgb(0,0,0);
    background-color: #1f3d7a;
    -webkit-box-shadow: rgb(30,30,30) 5px 5px 5px;
    -webkit-border-radius: 10px;
    color: whitesmoke;
    text-align: center;
    -webkit-transition: -webkit-box-shadow 0.3s;

}

.editKnop:hover{
    -webkit-box-shadow: rgb(30,30,30) 10px 10px 10px;

}

.cheeseCategorie {
    padding: 7px;
    margin: auto;
    border-collapse: collapse;
    width: 50%;
    background: rgb(200,200,200);
    border: 1px solid black;
}
#categorieTabel{

    margin: auto;
}

label{
    font-size: 120%;

}

#scroll75 {
    margin-right: 30px;
    height: 75vh;
    overflow-y: scroll;
    
}

#details{

    padding: 20px;
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
    background: rgb(200,200,200);
    border: 1px solid black;
    -webkit-box-shadow: rgb(30,30,30) 5px 5px 5px;
    -webkit-border-radius: 10px;
}

button {

    padding-right: 7px;
    padding-left: 5px;
    margin: auto;
    -webkit-box-shadow: rgb(80,80,80) 1px 1px 1px;
    -webkit-border-radius: 7px;
}

#productInfo{
    position: static;
    z-index: 1;
    margin: 30px;
    text-align: center;
    font: 15px bold Tahoma;
    color: black;
    border: 2px solid blue;
    background: rgb(222,100,100);
    width: 200px;
    height: 100px;
    padding: 20px;
}
.search_bar{

    text-align: center;
    margin: auto;
    /*    width: 50%;*/
}

.catbox {

    padding: 10px;
    background-color: #ffcc99;
    border-collapse: collapse;
    width: 80%;
    -webkit-box-shadow: rgb(30,30,30) 5px 5px 5px;
    -webkit-border-radius: 5px;


}

/*div {
    border:1px solid black;
}*/